@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito';
}

@font-face {
    font-family: 'Lerum';
    src: url(TextFonts.net_lerum-font/Lerum\ Stencil.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1%;
}

.logo {
    font-family: 'Lerum', sans-serif;
    font-size: 39px;
    color: white;
    display: flex;
    margin-right: 5px;
}

.header {
    background-position: center;
    background: linear-gradient(to bottom, rgba(127, 177, 248, 0.885), rgba(45, 67, 119, 0.527), rgba(20, 36, 74, 0.829));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1300px;
}

.bc_lugares {
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.navbar .agora {
    color: white;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    align-items: center;
}

.navbar ul a::after {
    content: "";
    background-color: #62abf0;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

.navbar ul a:hover::after {
    width: 100%;
}

.navbar ul a .icon {
    color: white;
    margin-right: 8px;
    width: 30px;
    height: 30px;
}

.lugares {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-content: flex-start;
    margin-left: 0;
}

.lugar {
    text-align: center;
    width: 350px;
    margin-left: 0;
    padding: 20px;
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px; 
}

.lugar:hover{
    transform: scale(1.05);
}

.front {
    margin-right: 15px;
}

.front img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-container {
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.text {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
}

footer{
    background: linear-gradient(to top, #04294a, rgba(41, 119, 192, 0.832),#6ba1d4);
    color: white;
    padding: 30px 0;
    }
    
    .content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 10px 10px ;
    }
    
    .content .contato{
    margin-right: 100px;
    }
    
    .content ul{
    margin-left: 100px;
    margin-bottom: 10px;
    }

    .section-footer{
      padding: 20px;
      flex: 1;
      min-width: 200px;
    }
    
    .section-footer p {
      color: #ccc;
      font-size: 15px;
    }
    
    .section-footer ul {
      list-style: none;
      padding: 0;
      color: #ccc;
    }
    
    .section-footer ul li {
      margin-bottom: 5px;
    }
    
    .section-footer ul li a {
      color: #cccccc;
      text-decoration: none;
      transition: color 0.3s ease; /*validar*/
    }
    
    .section-footer ul li a:hover {
      color: #030f3f;
    }

    .section-footer ul li a {
        color: inherit; /* Faz com que a cor do texto seja herdada */
        text-decoration: none; /* Remove o sublinhado */
      }
    
    .bottom {
      background-color: rgba(13, 47, 79, 0.664);
      padding: 10px 0;
      text-align: center;
      font-size: 14px;
      color: #ccc;
    }
    
    html {
      scroll-behavior: smooth;
    }
    
    
    